
<!DOCTYPE html>
<!--This is going to be the tutorial for angularJS. http://www.newthinktank.com/2016/02/angularjs-tutorial/
https://youtu.be/OPxeCiy0RdY -->
<html ng-app="app1" ng-init="person = {fName: 'Stranger', lName: 'Danger'};
  capitals = [{city: 'Montgomery', state: 'Alabama'}, {city: 'Juneau', state: 'Alaska'}, {city: 'Phoenix', state: 'Arizona'}]; classes = ['Math 103','COMM 105','MATH 120B','PHIL 205A','CS 105','CS 146','CS 116','CS 245','RPW 304','ACCT 213','CS 216']">
	<head>
	    <title>AngularJS Tutorial</title>
	</head>

	<body>
		<!-- Adds a controller that the Angular module will control.
		The view is the div element and all that it contains. The $scope
		component is used to provide data to the view. -->
		<div ng-controller="ctrl1">
		  <span>Values:</span>
	 
		 <!-- Define 2 elements that will be bound to the first and
		  second values in the scope using the ng-model directive. If
		  either value changes here it will change in the scope and
		  vice versa -->
		  <input type="text" ng-model="first" />
		  <input type="text" ng-model="second" />
	 
		  <!-- Bind a click on this button to the function updateValue
		  using ng-click -->
		  <button ng-click="updateValue(); updatehypotenuse();">Sum</button>
		  <br>
	 
		  <!-- Displays the Scope value of calculation in the expression-->
		  {{calculation}}
		  <br>
		  {{hypotenuse}} <!-- this is for part 1 of the assignment-->
	 
		  <!-- You can perform calculations in expressions -->
		  <p>5 + 5 = {{5+5}}</p>
	 
		  <!-- Expressions bind data to HTML as well -->
		  <p>Your first value is {{first}}</p>
	 
		  <!-- You can do the same with ng-bind -->
		  <p>Your second value is
			<span data-ng-bind="second"></span>
		  </p>
	 
		  <!-- Strings can be built in expressions -->
		  <p>{{person.fName + " " + person.lName}} you entered {{first + " and " + second}}</p>
	 
		  <!-- ng-repeat cycles through a collection -->
		  <ul>
			<li ng-repeat = "capital in capitals">
			  {{ 'City: ' + capital.city + ', State: ' + capital.state}}
			</li>
		  </ul>
		
		<ul>
			<li ng-repeat = "class in classes">
				{{'Class: ' + class}}
			</li>
		</ul>
		
		<h4 ng-controller="randomclass">Class one: {{class}}</h4>
		<h4 ng-controller="randomclass2">Class two: {{class2}}</h4>
		
		<ol>
			<li ng-repeat = "class in classes | limitTo:10:1">
				{{"Class: " + class}}
			</li>
		</ol>
		
		</div> <!--This is the end of ctrl1-->
		
		

	
		<!-- Load the AngularJS library -->
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
	 
		<!-- Load the JS Module -->
		<script src="angulartut.js"></script>	
	</body>
</html>